:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --special-text-color: #2196f3;
}

/* основной цвет заглавного текста текста #212121 */
/* основной текст #757575*/
/* Цвет лого, кнопки, ссылки #2196F3 */
/* Белый цвет #FFFFFF */
/*Белый цвет 60% прозрачноснти rgba(255, 255, 255, 0.6) */
/* Вторичный цвет фона #F5F4FA  */
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Логотип */
.logo {
  color: #000000;
}
span {
  color: var(--special-text-color);
}

/* навигация */
.nav-link {
  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--special-text-color);
}

/* Контакты */
.contacts-list {
  color: var(--primary-text-color);
}

.contacts-list:focus,
.contacts-list:hover {
  color: var(--special-text-color);
}

/* hero */
.hero {
  color: #ffffff;
}

/* section */
.section-title,
.section-name {
  color: var(--title-text-color);
}
