:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --special-text-color: #2196f3;
  --bg-color: #ffffff;
  --grey-color: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.6);
}

/* основной цвет заглавного текста текста #212121 */
/* основной текст #757575*/
/* Цвет лого, кнопки, ссылки #2196F3 */
/* Белый цвет #FFFFFF */
/*Белый цвет 60% прозрачноснти rgba(255, 255, 255, 0.6) */
/* Вторичный цвет фона #F5F4FA  */
body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Логотип */
.logo {
  color: #000000;
}
span {
  color: var(--special-text-color);
}

/* cтили для index.html */

/* навигация */
.nav-link {
  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--special-text-color);
}

.nav-link.current {
  color: var(--special-text-color);
}

/* Контакты */
.contacts-list {
  color: var(--primary-text-color);
}

.contacts-list:focus,
.contacts-list:hover {
  color: var(--special-text-color);
}

/* hero */
.hero {
  color: var(--bg-color);
}

/* button hero*/
.hero-button {
  background-color: var(--special-text-color);
  color: var(--bg-color);
}

/* section */
.section-title,
.section-name {
  color: var(--title-text-color);
}

/* fotter */
.address-link {
  color: var(--bg-color);
}

.address-contact {
  color: var(--footer-color);
}

/* Стили для portfolio.html */

/* portfolio text pages */
.items-text {
  color: var(--primary-text-color);
}

.items-title {
  color: var(--title-text-color);
}

/* portfolio button  */
.work-button {
  background-color: var(--grey-color);
  color: var(--title-text-color);
}

.work-button:focus,
.work-button:hover {
  background-color: var(--special-text-color);
  color: var(--bg-color);
}
